h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p {
    margin: 15px 0px;
}

html {
    /* Allows content to fill the viewport and go beyond the bottom */
    height: 100%;

    /* Allows you to scroll below the viewport; default value is visible */
    overflow-y: scroll;

    /* To smooth any scrolling behavior */
    -webkit-overflow-scrolling: touch;
}

body {

    /* Allows content to fill the viewport and go beyond the bottom */
    height: 100%;

    /* Allows you to scroll below the viewport; default value is visible */
    overflow-y: scroll;

    /* To smooth any scrolling behavior */
    -webkit-overflow-scrolling: touch;

    position: relative;
    margin: 0; //height: 100%;
    background-color: rgb(240, 240, 240);
    font-family: Ubuntu, sans-serif;
    box-sizing: border-box;
}

.desktop-only {
    display: none;
}

header {
    display: flex;
    align-items: center;
    height: 70px;
}

header h1 {
    width: calc(100% - 70px);
    padding-left: 10px;
    font-size: 1.4em
}

main {
    //margin-bottom: 60px;
}

footer {
/*
    position: fixed;
    bottom: 0px;
    left: 0px;
*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
    border-top: 1px solid;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    font-size: 1.25em;
    color: white;
    background-color: #007bff;
    filter: contrast(100%);
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 4px 4px black;
    transition: transform 0.2s ease, box-shadow 0.2s ease, filter 0.2s ease;
}

.cta.toggle {
    transform: translateY(4px);
    box-shadow: 0px 0px 0px black;
    filter: contrast(200%);
}

.timg {
    width: 50px;
    height: 50px;
    background-color: #dc3545;
    border: 1px solid;
}

@media screen and (min-width: 1100px) {
    .desktop-only {
        display: block;
    }

    header {
        justify-content: space-between;
        height: auto;
    }
}
